/Debug/
/Debug/*
/Release/
/Release/*
/STM32F746G-DISCO-Debug/
/STM32F746G-DISCO-Release/
/STM32H745I-DISCO-CM7-Debug/
/STM32H745I-DISCO-CM7-Release/
/STM32H745I-DISCO-CM4-Debug/
/STM32H745I-DISCO-CM4-Release/
