{
  "version": 6,
  "cmakeMinimumRequired": { "major": 3, "minor": 23, "patch": 0 },

  "configurePresets": [
    {
      "name": "user-common",
      "hidden": true,
      "environment": {
        "ARM_NONE_EABI_TOOLCHAIN_PATH": "YOUR/PATH/TO/ARM_NONE_EABI/TOOLCHAIN"
      }
    },
    { "name": "STM32F746G-DISCO-local",     "inherits": ["STM32F746G-DISCO", "user-common"] },
    { "name": "STM32H745I-DISCO-local",     "inherits": ["STM32H745I-DISCO", "user-common"] },
    { "name": "STM32H745I-DISCO-CM7-local", "inherits": ["STM32H745I-DISCO-CM7", "user-common"] },
    { "name": "STM32H745I-DISCO-CM4-local", "inherits": ["STM32H745I-DISCO-CM4", "user-common"] }
  ],

  "buildPresets": [
    { "name": "STM32F746G-DISCO-local",     "configurePreset": "STM32F746G-DISCO-local" },
    { "name": "STM32H745I-DISCO-local",     "configurePreset": "STM32H745I-DISCO-local" },
    { "name": "STM32H745I-DISCO-CM7-local", "configurePreset": "STM32H745I-DISCO-CM7-local" },
    { "name": "STM32H745I-DISCO-CM4-local", "configurePreset": "STM32H745I-DISCO-CM4-local" }
  ]
}